*{
    box-sizing: border-box;
}

#content{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.background-attached{
    background-attachment: fixed;
    width: 100%;
    height: 60%;
    position: relative;
}

.test{
    width: 100%;
    height: 40%;
    background-color: white;
    color: rgb(32, 32, 32);
    padding: 5%;
    text-align: center;
}

.scroll-separators{
    width: 100%;
    height: 40%;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

#name-holder{
    width: 100%;
    background-color: white;
    overflow: auto;
    color: rgb(32, 32, 32);
    padding: 5%;
}

#circle-column{
    width: 10%; 
    float: left; 
    border-right-style: solid; 
    border-right-color: grey; 
    padding: 2%;
    border-right-width: 1px;
}